@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-dark text-gray-100;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  @apply bg-dark-light;
}
::-webkit-scrollbar-thumb {
  @apply bg-gray-600 rounded;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}
